/* ////////////////////////////////start landing-for-subsection//////////////////////////// */
.landing-for-subsection {
    background-image: url(../image/CEO/landing.png);
}

/* ///////////////////////////end landing-for-subsection////////////////////////// */
.CEO_info{
    padding: 50px 0;
.image{
    border: 4px solid #eee;
}
}

/* ///////////////////////////start BOARD MEMBERS////////////////////////// */
.broad_members {

    .card-body {
        background-color: #152350 !important;
    }
}

/* ///////////////////////////end BOARD MEMBERS////////////////////////// */