/* ////////////////////////////////start landing-for-subsection//////////////////////////// */
.landing-for-subsection {
    background-image: url(../image/CEO/landing.png);
}

/* ///////////////////////////end landing-for-subsection////////////////////////// */

/* ///////////////////////////start CEO////////////////////////// */
.CEO {
    .card-body{
        background-color: #152350 !important;
    }
}

/* ///////////////////////////end CEO////////////////////////// */