/* ////////////////////////////////start landing-for-subsection//////////////////////////// */
.landing-for-subsection {
    background-image: url(../image/Governance\ and\ transparency/landing-4);
}

/* ///////////////////////////end landing-for-subsection////////////////////////// */
/* ///////////////////////////start Employment////////////////////////// */
.Employment {
    

    .card {
            border-radius: 40px 0 40px 0;
            -webkit-border-radius: 40px 0 40px 0;
            -moz-border-radius: 40px 0 40px 0;
            -ms-border-radius: 40px 0 40px 0;
            -o-border-radius: 40px 0 40px 0;
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
    
            &:hover {
                background-image: linear-gradient(to right, rgb(6, 85, 169), rgb(20, 178, 233));
                border-radius: 20px;
                color: white;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;
    
                h5 {
                    color: white !important;
                }
            }
    
        }
}
/* ///////////////////////////end Employment////////////////////////// */