/* ////////////////////////////////start landing-for-subsection//////////////////////////// */
.landing-for-subsection {
    background-image: url(../image/reports/landing-1.png);
}

/* ///////////////////////////end landing-for-subsection////////////////////////// */