/* ////////////////////////////////start landing-for-subsection//////////////////////////// */
.landing-for-subsection {
    background-image: url(../image/About/landing-3.png);
}

/* ///////////////////////////end landing-for-subsection////////////////////////// */