/*/////////////////////// start landing style //////////////////////// */
.landing{
    margin-top: 80px;
    img{
        width: 100%;
        height: 100%;
    }
        .swiper {
            width: 100%;
            height: 70vh;
        }
    
        .swiper-slide img {
            display: block;
        }
        .swiper-button-prev,
        .swiper-button-next{
            background-color: #001a714b;
            color:white;
            padding: 50px 25px;
        }
        .swiper-button-next{
            left: 0 !important;
        }
        .swiper-button-prev{
            right: 0 !important;
        }
        .text{
            animation: moveUp 1s ease-in-out;
            top:50%;
            right:0;
            transform: translateY(-50%) ;
            -webkit-transform: translateY(-50%) ;
            -moz-transform: translateY(-50%) ;
            -ms-transform: translateY(-50%) ;
            -o-transform: translateY(-50%) ;
}
@media (max-width:767px) {
    .landing{
        margin-top: 100px;
    }
    .text{
        padding: 20px !important;
        .btn{
            margin: 10px 0 !important;
        }
    }
    img{
        width: 100% !important;
        height: 50vh !important;
        object-fit: cover !important;
        object-position: right !important;
    }
    .swiper-button-next,
    .swiper-button-prev{
        display: none;
    }
    
}
}
@keyframes moveUp {
    from{
        opacity: 0;
        transform: translateY(-400px) !important;
        -webkit-transform: translateY(-400px) !important;
        -moz-transform: translateY(-400px) !important;
        -ms-transform: translateY(-400px) !important;
        -o-transform: translateY(-400px) !important;
}
    to{
        opacity: 1;
        transform: translateY(-50%) !important;
        -webkit-transform: translateY(-50%) !important;
        -moz-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
        -o-transform: translateY(-50%) !important;
}
    
}
/*/////////////////////// end landing style //////////////////////// */
/*/////////////////////// start about style //////////////////////// */
.about{
    padding: 100px 20px;
    img{
        width: 90%;
    }
    @media (max-width:767px) {
        .text{
            width: 100% !important;
        }
        .image{
            width: 100% !important;

            img{
                width: 100% !important;
            }
        }
    }
}
/*/////////////////////// end about style //////////////////////// */
/*/////////////////////// start services style //////////////////////// */
.services{
    padding: 50px 20px;
    background-color: rgb(239, 239, 239);

    .card{
        border: none;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover{
            background-color:#001b71;
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            .card-body{
                h5 {
                        color: white !important;
                    }
                
                    p {
                        color: white;
                    }

            }
        }
        img{
            height: 80px;
            object-fit: contain;
        }
        .card-body{
            h5{
                margin-bottom: 15px;
            }
            p{
                color: #666;
            }
        }
    }
    .swiper{
        overflow: visible !important;
    }

}
/*/////////////////////// end services style //////////////////////// */
/*/////////////////////// start partner style //////////////////////// */
.partner {
    overflow: hidden;
    background-image: url(../image/Home/bg-shape.png);
    position: relative;
    &::before{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        z-index: -1;
    background-image: linear-gradient(to right, #001b71 0%, #00a7e1 100%);
    }
    .btn{
        margin-left: 0 !important;
        margin-right: auto !important;
    }
    .partner-wrapper {
        display: flex;
        animation: scroll-left 40s linear infinite;
    }
    
    
    .partner-slide {
        width: 200px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    
    .partner-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
}
@keyframes scroll-left {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}

    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
}


/*/////////////////////// end partner style //////////////////////// */
/*/////////////////////// end partner style //////////////////////// */
.stats{
        background-color: rgb(239, 239, 239);
        .stats-section {
            padding: 0 30px;
            
        }
        
        .stat-card {
            background-color: white;
            text-align: center;
            padding: 20px;
            margin: 0 !important;
        }
        .stat-card:not(:first-child) {
            border-right: 1px solid #ccc;
        }
        
        
        .stat-number {
            font-size: 35px;
            font-weight: bold;
            color: #00a8e8;
            margin-bottom: 10px;
            line-height: 1;
        }
        .stat-title{
            font-size: 16px;
            color: #001b71;
            font-weight: 600;
            margin-bottom: 5px;
        }
        
        .stat-subtitle {
            text-align: center;
            font-size: 16px;
            color: #757575;
            font-weight: 600;
            margin-bottom: 5px;
        }
        
        @media (max-width: 768px) {
            .stat-number {
                font-size: 30px;
            }
        
            .stat-label {
                font-size: 16px;
            }
            .stat-card{
                border: none !important;
                margin-bottom: 20px !important;
            }
        }
}
/*/////////////////////// end partner style //////////////////////// */
/*/////////////////////// start center style //////////////////////// */
.center{
    padding: 50px 20px;
        .swiper {
                overflow: visible !important;
            }
        .card{
            background: #f6f6f6;
            border-radius: 40px 0 40px 0 !important;
            -webkit-border-radius: 40px 0 40px 0 !important;
            -moz-border-radius: 40px 0 40px 0 !important;
            -ms-border-radius: 40px 0 40px 0 !important;
            -o-border-radius: 40px 0 40px 0 !important;
            overflow: hidden !important;
}
}
/*/////////////////////// end center style //////////////////////// */
